#btn {
  width: 7rem;
  height: 2.5rem;
  background-color: #5200ff;
  color: white;
  border: none;
  cursor: pointer;
  /* margin: 2rem auto; */
}

@media screen and (max-width: 31rem) {
  #btn {
    width: 15rem;
  }
}
