@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  max-width: 100vw;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}
