input {
  width: 18rem;
  height: 2.5rem;
  background-color: #ededed;
  border: 0.06rem solid #c7c7c7;
  margin: 1rem 0 2.4rem;
}

@media screen and (max-width: 48.125rem) {
  input {
    width: 15rem;
  }
}
