@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.box {
  height: 100vh;
  width: 100vw;

  display: flex;
}

.left {
  width: 50vw;
  background-image: linear-gradient(rgba(82, 0, 255, 0.7), rgba(82, 0, 255, 0.7)), url("./../img/img.jpg");
  background-position-x: right;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;

  color: white;
}

.header {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 4rem;
}

.paragraf {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.25rem;
}

.right {
  max-width: 50vw;
  margin: auto;
}

@media screen and (max-width: 48.125rem) {
  .box {
    /* height: 50vh; */
    width: 100vw;

    flex-direction: column;
  }

  .left {
    width: 100vw;
    height: 50rem;
    justify-content: center;
    text-align: center;
    padding: 2rem auto;
  }

  .left .header {
    margin: 2rem auto;
    font-size: 4rem;
  }

  .left .paragraf {
    margin-bottom: 4rem;
    font-size: 1.3rem;
  }

  .right {
    margin: 5rem 6rem;
  }

  .input {
    display: flex;
    /* justify-content: space-between; */
    margin: auto;
  }

  .inputName {
    margin-right: 5rem;
  }

  .btn {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 31rem) {
  .box {
    height: 100vh;
    width: 100vw;

    display: flex;
  }

  .right {
    margin: 0 4rem;
  }

  .input {
    display: block;
    margin: 1rem auto;
  }
}
